<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/miekki/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="miekki" />
            <add key="ClearTextPassword" value="" />
        </github>
    </packageSourceCredentials>
</configuration>
